# Application
APP_NAME = DocuMind
ENVIRONMENT = development

# Security
SECRET_KEY = <your_secret_key>
REFRESH_SECRET_KEY = <your_refresh_secret_key>

# Database
DB_USER = <your_database_user>
DB_PASSWORD = <your_database_password>
DB_HOST = <your_database_host>
DB_PORT = <your_database_port>
DB_NAME = <your_database_name>

DATABASE_URL = #leave it empty, it will be constructed automatically from the above database settings

# Qdrant
QDRANT_URL = <your_qdrant_url>
QDRANT_API_KEY = <your_qdrant_api_key>

# OpenRouter
OPENROUTER_API_KEY = <your_openrouter_api_key>
OPENROUTER_MODEL = <your_openrouter_model>

# Embeddings
EMBEDDING_MODEL = BAAI/bge-large-en-v1.5
RERANKER_MODEL = BAAI/bge-reranker-large